[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "discretefit"]
	path = discretefit
	url = https://github.com/josh-mc/discretefit
